body {
  font-family: "monospace";
}

#navigation {
  font-weight: bold;
}

#brand {
  padding-left: 50px;
}

#brand-name {
  font-size: 20px;
}

#menus {
  padding-right: 50px;
  font-size: 20px;
}

#home {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
  height: 500px;
  /* background: url("./images/sunset.jpg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #ebe8e4;
}

#home-container {
  align-self: center;
}

#cloud,
h3 {
  color: #5b5757;
}

#social-group button {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 10px;
  color: #5b5757;
}

#about {
  margin-bottom: 0px;
  background: url("./images/sunset.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
}
#text-primary {
  display: flex;

  align-self: center;
}
#about-container {
  color: #5b5757;
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  margin-right: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about-container p {
  color: white;
}

#about-container h3 {
  text-shadow: none;
}

#portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  height: 800px;
  background: url("./images/ice.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
}

#portfolio-container {
  align-self: center;
  margin: 25px;
  padding: 10px;
}

#portfolio-container h3 {
  text-shadow: none;
  color: #5b5757;
  display: flex;
  align-self: center;

  font-size: 25px;
}

.portitems .portitem {
  float: left;
  margin: 20px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 20px;
  text-shadow: 1px 1px black;
  box-shadow: 5px 5px 20px black;
  color: white;
}

.portitems .portitem:hover {
  font-size: 25px;
  text-shadow: 2px 2px black;
  border: 1px solid white;
  box-shadow: 2px 2px grey;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

#contact {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  background-color: #ebe8e4;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 30px;
}

#contact-container {
  align-self: center;
  padding: 10px;
  text-align: center;
}

#contact-container h3 {
  text-shadow: none;
  color: black;
}

#contact #contact-container #email {
  color: #5b5757;
  font-size: 25px;
}

#footer a {
  text-decoration: none;
}

/* Add Portfolio links and images */

#funily {
  background-color: #5b5757;
  background-size: 100%;
  background-origin: content;
}

#quote-generator {
  background-size: 100%;
  background-origin: content;
  background-color: #5b5757;
}

#calculator {
  background-color: #5b5757;
  background-size: 100%;
  background-origin: content;
}

#pomodoro {
  background-color: #5b5757;
  background-size: 100%;
  background-origin: content;
}

.navbar {
  display: flex;
  align-items: baseline;

  background: rgb(204, 198, 198);

  font-family: Helvetica;
  font-weight: 300;
  text-decoration: none;
  list-style-type: none;
  position: sticky;
  top: 0;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
  list-style-type: none;
  color: black;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  list-style-type: none;
  text-decoration: none;
  color: black;
}
